In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv('satislar.csv')
data.head()

   Aylar  Satislar
0      8   19671.5
1     10   23102.5
2     11   18865.5
3     13   21762.5
4     14   19945.5